<a href="https://colab.research.google.com/github/V-01fe21bec107/Python_basic/blob/main/Data_type_and_operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=["10","25.3","vanashree"]
print(a[1]);
a[1]="shalu"
print(a);

25.3
['10', 'shalu', 'vanashree']

In [2]:
a={10,20,30,40,50}; #set data structure cannot hold the index value and do not have the same sequence
print(a);

{50, 20, 40, 10, 30}

In [3]:
a={10,20,30,40,50,40,20,50,10,30}; #set data structure  do not have same number
print(a);
print(type(a));

{50, 20, 40, 10, 30}
<class 'set'>

In [4]:
d={'a':"apple",'b':"ball"}
print(d['a']);

print(list("hello"));

apple
['h', 'e', 'l', 'l', 'o']

In [5]:
a=int(input("enter the number"));
if(a>18):
    print("a is greater");
else:
    print("not");

enter the number4
not

In [6]:
s="vanashree"
print(s[0]);#print 1st index
print(s[-1]);#print 2nd index
print(s[:]);
print(s[2:]);
print(s[2:6]);#since 2 is included and 6 is excluded

v
e
vanashree
nashree
nash