<a href="https://colab.research.google.com/github/V-01fe21bec107/Python_basic/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
p1=pd.Series([10,20,30,40,50])
p1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
type(p1)

pandas.core.series.Series

In [ ]:
import pandas as pd
p1=pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
p1

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [ ]:
import pandas as pd
p1=pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
p1

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [ ]:
#as dictionary

import pandas as pd
p1=pd.Series({'a':10,'b':20,'c':30})
p1

a    10
b    20
c    30
dtype: int64

In [ ]:
#as dictionary

import pandas as pd
p1=pd.Series({'a':10,'b':20,'c':30},index=['a','c','e','b'])
p1

a    10.0
c    30.0
e     NaN
b    20.0
dtype: float64

In [ ]:
import pandas as pd
p1=pd.Series([10,20,30,40,50])
p1[3:]
p1[:]

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
import pandas as pd
p1=pd.Series([1,2,3,4,5,6,7,8,9])
p2=pd.Series([10,20,30,40,50,60,70,80,90])
p1+p2

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

In [ ]:
import pandas as pd
p1=pd.DataFrame({"name":['me','you','other'],"marks":['10','20','30']})
p1

    name marks
0     me    10
1    you    20
2  other    30

DataFrame inbuilt function

In [ ]:
import pandas as pd
data=pd.read_csv('/content/sample_data/mnist_train_small.csv')
print(data)

       6  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.581  0.582  0.583  \
0      5  0    0    0    0    0    0    0    0    0  ...      0      0      0
1      7  0    0    0    0    0    0    0    0    0  ...      0      0      0
2      9  0    0    0    0    0    0    0    0    0  ...      0      0      0
3      5  0    0    0    0    0    0    0    0    0  ...      0      0      0
4      2  0    0    0    0    0    0    0    0    0  ...      0      0      0
...   .. ..  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...    ...    ...
19994  0  0    0    0    0    0    0    0    0    0  ...      0      0      0
19995  1  0    0    0    0    0    0    0    0    0  ...      0      0      0
19996  2  0    0    0    0    0    0    0    0    0  ...      0      0      0
19997  9  0    0    0    0    0    0    0    0    0  ...      0      0      0
19998  5  0    0    0    0    0    0    0    0    0  ...      0      0      0

       0.584  0.585  0.586  0.587  0.588  0.589  0.590
0          0      0      0      0      0      0      0
1          0      0      0      0      0      0      0
2          0      0      0      0      0      0      0
3          0      0      0      0      0      0      0
4          0      0      0      0      0      0      0
...      ...    ...    ...    ...    ...    ...    ...
19994      0      0      0      0      0      0      0
19995      0      0      0      0      0      0      0
19996      0      0      0      0      0      0      0
19997      0      0      0      0      0      0      0
19998      0      0      0      0      0      0      0

[19999 rows x 785 columns]

In [ ]:
data.describe()

,6,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.581,0.582,0.583,0.584,0.585,0.586,0.587,0.588,0.589,0.590
count,19999.000000,19999.0,19999.0,19999.0,19999.0,19999.0,19999.0,19999.0,19999.0,19999.0,...,19999.000000,19999.000000,19999.000000,19999.000000,19999.000000,19999.000000,19999.0,19999.0,19999.0,19999.0
mean,4.470124,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.215011,0.087704,0.036502,0.013651,0.032602,0.006000,0.0,0.0,0.0,0.0
std,2.892807,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.314821,3.921664,2.712527,0.950818,2.718102,0.600333,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
75%,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,253.000000,254.000000,253.000000,79.000000,254.000000,62.000000,0.0,0.0,0.0,0.0

In [ ]:
data.head()

,6,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.581,0.582,0.583,0.584,0.585,0.586,0.587,0.588,0.589,0.590
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
data.iloc[0:3,0:4]

   6  0  0.1  0.2
0  5  0    0    0
1  7  0    0    0
2  9  0    0    0

In [ ]:
data.loc[0:3,("6","0","0.1")]

   6  0  0.1
0  5  0    0
1  7  0    0
2  9  0    0
3  5  0    0

In [ ]:
data.drop('6',axis=1)

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.581,0.582,0.583,0.584,0.585,0.586,0.587,0.588,0.589,0.590
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19994,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
data.drop([1,2,3],axis=0)

,6,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.581,0.582,0.583,0.584,0.585,0.586,0.587,0.588,0.589,0.590
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19994,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19995,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19996,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19997,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19998,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
data.head()

,6,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.581,0.582,0.583,0.584,0.585,0.586,0.587,0.588,0.589,0.590
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
def square(s):
  s=s*2

data[['6','0','0.1']].apply(square)

6      None
0      None
0.1    None
dtype: object

In [ ]:
data['6'].value_counts()

1    2243
7    2126
6    2038
9    2023
3    2021
2    1989
0    1962
4    1924
8    1912
5    1761
Name: 6, dtype: int64

In [ ]:
data.sort_values(by='6')

,6,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.581,0.582,0.583,0.584,0.585,0.586,0.587,0.588,0.589,0.590
12039,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3640,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6165,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7431,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4375,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7228,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18245,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7223,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6967,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0