<a href="https://colab.research.google.com/github/V-01fe21bec107/Python_basic/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#first 10 natural number
for i in range(0,11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#print fibonacci series
n=0
n1=1
print(n)
print(n1)
for i in range(0,11):
   s=n+n1
   n=n1
   n1=s
   print(s)

0
1
1
2
3
5
8
13
21
34
55
89
144

In [ ]:
#print factorial of a first 10 odd number
fact=1
for i in range(1,20):
    fact=fact*i
    if(i%2!=0):
       print("factorial of num is",fact)

factorial of num is 1
factorial of num is 6
factorial of num is 120
factorial of num is 5040
factorial of num is 362880
factorial of num is 39916800
factorial of num is 6227020800
factorial of num is 1307674368000
factorial of num is 355687428096000
factorial of num is 121645100408832000

In [ ]:
#print 1st 10 odd number
for i in range(1,20):
    if(i%2!=0):
      print(i)

1
3
5
7
9
11
13
15
17
19

In [28]:
#print 1st 10 even numberin reverse order
for i in range(20,0,-2):
  print(i)

20
18
16
14
12
10
8
6
4
2

In [ ]:
#Accept 10 numbers from user and display their averages
lst=[]
sum1=0
n=int(input("enter the array size"))
m=n
for i in range(n):
   x=int(input("enter the elements"))
   lst.append(x)
print(lst)
for i in lst:
  sum1=sum1+i
print(sum1)
average=sum1/m
print(average)

enter the array size4
enter the elements3
enter the elements4
enter the elements5
enter the elements6
[3, 4, 5, 6]
18
4.5

In [ ]:
#half ascending and half descending order
size=int(input("ENTER ARRAY SIZE "))
arr=[]
print("Enter the array elements")
for i in range(size):
    element=int(input())
    arr.append(element)

arr.sort()
half=arr[size//2:]
half.sort(reverse=True)
out=arr[:size//2]+half
print("Sorted first half in ascending order and second half in descending",*out,sep="\n")

ENTER ARRAY SIZE 6
Enter the array elements
2
6
9
1
3
4
Sorted first half in ascending order and second half in descending
1
2
3
9
6
4

In [ ]:

  #write a program to display all the numbers which are divisible by 11 but not by 2 between 100 and 500
for i in range(100,501):
   if((i%11==0) and (i%2!=0)):
      print(i)

121
143
165
187
209
231
253
275
297
319
341
363
385
407
429
451
473
495

In [ ]:
#Write a program that keep on accepting numbers from the user until user enters 00. Display factorial of entered numbers
lst=[]
n=int(input("enter the array size"))
for i in range(n):
    x=int(input("enter the elements"))
    if(x==00):
     break
    else:
     lst.append(x)
print(lst)
fact=1
for i in lst:
    fact=fact*i
    print(fact)

enter the array size5
enter the elements1
enter the elements2
enter the elements3
enter the elements4
enter the elements5
[1, 2, 3, 4, 5]
1
2
6
24
120